In [1]:
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta

In [2]:
path = "/home/cairo/code/portfolio/customer-segmentation/data/"

# Read data
data_cleaned = pd.read_csv(path + "processed/data_cleaned.csv")
data_cleaned.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalRevenue,Year,Month,Day,DayOfWeek,Hour,Date
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.4,2009,12,1,Tuesday,7,2009-12-01
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0,2009,12,1,Tuesday,7,2009-12-01
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.0,2009,12,1,Tuesday,7,2009-12-01
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.8,2009,12,1,Tuesday,7,2009-12-01
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.0,2009,12,1,Tuesday,7,2009-12-01

In [3]:
data_cleaned.info()

<class 'pandas.DataFrame'>
RangeIndex: 805549 entries, 0 to 805548
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Invoice       805549 non-null  int64
 1   StockCode     805549 non-null  str
 2   Description   805549 non-null  str
 3   Quantity      805549 non-null  int64
 4   InvoiceDate   805549 non-null  str
 5   Price         805549 non-null  float64
 6   Customer ID   805549 non-null  float64
 7   Country       805549 non-null  str
 8   TotalRevenue  805549 non-null  float64
 9   Year          805549 non-null  int64
 10  Month         805549 non-null  int64
 11  Day           805549 non-null  int64
 12  DayOfWeek     805549 non-null  str
 13  Hour          805549 non-null  int64
 14  Date          805549 non-null  str
dtypes: float64(3), int64(6), str(6)
memory usage: 154.6 MB

In [5]:
# Create sample of data
sample_cleaned = data_cleaned.sample(n=10000, random_state=42)

# Save sample to csv
sample_cleaned.to_csv(path + "data_sample_cleaned.csv", index=False)

In [6]:
sample_cleaned.info()

<class 'pandas.DataFrame'>
Index: 10000 entries, 109121 to 690850
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Invoice       10000 non-null  int64
 1   StockCode     10000 non-null  str
 2   Description   10000 non-null  str
 3   Quantity      10000 non-null  int64
 4   InvoiceDate   10000 non-null  str
 5   Price         10000 non-null  float64
 6   Customer ID   10000 non-null  float64
 7   Country       10000 non-null  str
 8   TotalRevenue  10000 non-null  float64
 9   Year          10000 non-null  int64
 10  Month         10000 non-null  int64
 11  Day           10000 non-null  int64
 12  DayOfWeek     10000 non-null  str
 13  Hour          10000 non-null  int64
 14  Date          10000 non-null  str
dtypes: float64(3), int64(6), str(6)
memory usage: 2.0 MB